[tool.poetry]
name = "biosimulator-processes"
version = "0.3.0"  # latest stable pypi release: 0.1.2(biosimulator-processes) ... 0.2.5(as biosimulators-processes)
description = "Core implementations of process-bigraph.composite.Process aligning with BioSimulators simulator tools."
authors = ["Alex Patrie <alexanderpatrie@gmail.com>"]
readme = "README.md"
packages = [
    {include = "bsp"},
    {include = "tests"}
]


[tool.poetry.dependencies]
python = "^3.10"
process-bigraph = "0.0.22"  # TODO: this needs to be fixed
toml = "^0.10.2"
pydantic = "^2.10.4"
pyyaml = "^6.0.2"
python-dotenv = "^1.0.1"


[tool.poetry.group.fba.dependencies]
cobra = {version = "^0.29.1", extras = ["imageio"]}
imageio = "^2.36.1"


[tool.poetry.group.ode.dependencies]
copasi-basico = "^0.82"
amici = "^0.30.0"


[tool.poetry.group.spatial.dependencies]
smoldyn = {version = "^2.73", extras = ["simulariumio"]}
pymem3dg = {version = "*", optional = true}
readdy = {version = "*", optional = true}


[tool.poetry.group.visualization.dependencies]
seaborn = "^0.13.2"
simulariumio = "^1.11.0"


[tool.poetry.group.io.dependencies]
h5py = "^3.12.1"


[tool.poetry.group.notebook.dependencies]
jupyterlab = "^4.3.4"
ipykernel = "^6.29.5"


[tool.poetry.group.storage.dependencies]
pymongo = "^4.10.1"
tensorstore = "^0.1.71"


[tool.poetry.group.dev.dependencies]
pytest = "^8.3.4"
mypy = "^1.14.1"
flake8 = "^7.1.1"
pip-autoremove = "^0.10.0"


[tool.poetry.group.quantum.dependencies]
qiskit = {version = "^1.3.1", extras = ["visualization"]}
qiskit-nature = "*"
qiskit-ibm-runtime = "*"
pyscf = "^2.7.0"



[tool.poetry.group.builder.dependencies]
bigraph-builder = "^0.0.4"

[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = "--ignore=setup.py"
python_files = "*.py"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
