[tool.poetry]
name = "biosimulator-processes"
version = "0.0.21"
description = "Core implementations of process-bigraph.composite.Process aligning with BioSimulators simulator tools."
authors = ["Alex Patrie <alexanderpatrie@gmail.com>"]
readme = "README.md"
packages = [{include = "biosimulator_processes"}]

[tool.poetry.dependencies]
python = ">=3.10"
zarr = "*"
termcolor = "*"
jupyterlab = "*"
bigraph-schema = "*"
process-bigraph = "*"
bigraph-viz = "*"
bigraph-builder = "*"
numpy = "*" # "^1.26.4"
copasi-basico = "*"
cobra = "*"
tellurium = "*"
smoldyn = ">=2.72"
python-libsbml = "^5.20.2"
docker = ">=7.0"
python-libnuml = "^1.1.6" # ">=1.0.0"
notebook = "^7.1.1"
toml = "*"
# psutil = "^5.9.8"

[tool.poetry.group.dev.dependencies]
pytest = "*"
mypy = ">=1.8.0"
flake8 = "*"
twine = "*"

[tool.pytest.ini_options]
testpaths = ["biosimulator_processes"]
addopts = "--ignore=setup.py"
python_files = "*.py"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
