[tool.poetry]
name = "biosimulators-processes"
version = "0.2.1"
description = "Core implementations of process-bigraph.composite.Process aligning with BioSimulators simulator tools."
authors = ["Alex Patrie <alexanderpatrie@gmail.com>"]
readme = "README.md"
packages = [{include = "biosimulators_processes"}]

[tool.poetry.dependencies]
python = ">=3.10"
termcolor = "^2.4.0"
jupyterlab = "^4.2.1"
bigraph-viz = "^0.0.33"
bigraph-builder = "^0.0.4"
numpy = "^1.26.4"
cobra = "^0.29.0"
python-libsbml = "^5.20.2"
docker = "^7.1.0"
notebook = "^7.2.0"
toml = "^0.10.2"
pyyaml = "^6.0.1"
pydantic = "^2.7.2"
seaborn = "^0.13.2"
h5py = "^3.11.0"
bigraph-schema = "^0.0.38"
process-bigraph = "^0.0.19"
smoldyn = {version = "*", optional = true, extras = ["simulariumio"]}
amici = {version = "^0.25.1", optional = true}
copasi-basico = {version = "^0.69", optional = true}
tellurium = {version = "^2.2.10", optional = true}

[tool.poetry.extras]
simulators = ["smoldyn", "amici", "copasi-basico", "tellurium"]

[tool.poetry.group.dev.dependencies]
pytest = "^8.2.1"
mypy = "^1.10.0"
flake8 = "^7.0.0"

[tool.pytest.ini_options]
testpaths = ["biosimulator_processes", "test_suite"]
addopts = "--ignore=setup.py"
python_files = "*.py"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
